body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sm-container {
  width: 100%;
  max-width: 300px;
}

.md-container {
  width: 100%;
  max-width: 600px;
}

.lg-container {
  width: 100%;
  max-width: 1200px;
}

.space-top {
  margin-top: 10px!important;
}

.space-top-20 {
  margin-top: 20px!important;
}

.space-top-40 {
  margin-top: 40px!important;
}

.space-bottom {
  margin-bottom: 10px!important;
}

.space-bottom-20 {
  margin-bottom: 20px!important;
}

.space-bottom-40 {
  margin-bottom: 40px!important;
}

.space-left {
  margin-left: 10px!important;
}

.space-left-20 {
  margin-left: 20px!important;
}

.space-left-40 {
  margin-left: 40px!important;
}

.space-right {
  margin-right: 10px!important;
}

.space-right-20 {
  margin-right: 20px!important;
}

.space-right-40 {
  margin-right: 40px!important;
}

.space-around {
  margin: 10px!important;
}

.space-around-20 {
  margin: 20px!important;
}

.space-around-40 {
  margin: 40px!important;
}

.input-square input {
  border-radius: 4px!important;
  margin: 5px!important;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}